html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a {
	font: inherit;
}

body {
  background: #fff;
  font: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }
a, a:visited { color: #333; text-decoration: underline; outline: 0; }
a:hover, a:focus { color: #000; }
