html {
  font-family: sans-serif;
  font-size: 20px;
}

body {
  background: #fff;
}

#title {
  font-size: 2.25em;
  margin-bottom: 10px;
}

#navigation {
  padding:0px;
  text-align:center;
}

#navigation li {
  display: inline;
  margin: 0 20px 0 0;
  margin-bottom: 130px;
  align: center;
}

#badges {
  padding:0px;
  text-align:center;
}

#badges li {
  display: inline;
  margin: 0 20px 0 0;
  margin-bottom: 130px;
  align: center;
}

h1 {
  font-size: 2.25em;
  border-bottom: 1px solid #000;
  font-weight: normal;
}

h2 {
  font-size: 1.75em;
  border-bottom: 1px solid #eee;
  font-weight: normal;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

a, a:visited {
  color: #4183c4;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

code {
  font: 85% Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #f7f7f7;
}

pre {
  background-color: #f7f7f7;
  padding: 1em;
  overflow-x: auto;
}

blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  display: none;
  margin: 0;

  list-style: none;
  width: 100%;
  padding: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/** Button Styles **/
.dropdown button {
  border: none;
  background: none;
  color: #4183c4;
  margin: 0;
  padding: 0.4em 0.8em;
  font-size: 1em;
}

/** List Item Styles **/
.dropdown a {
  display: block;
  padding: 0.2em 0.8em;
  text-decoration: none;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #4183c4;
}