<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Fixie</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="stylesheets/base.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">
  <link rel="stylesheet" href="stylesheets/pygment_trac.css">

  <style>
    #navigation li {
    	display: inline;
    	margin: 0 20px 0 0;
    	margin-bottom: 130px;
    }
    
    .header {
      background-color: black;
      color: white;
    }
    
    .user {
      font-weight: bold;
    }
  </style>

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
  <div class="container">
    <div id="navigation" class="sixteen columns">
      <ul>
        <li><a href="https://github.com/plioi/fixie">github</a></li>
        <li><a href="http://www.nuget.org/packages/fixie">nuget</a></li>
        <li><a href="https://github.com/plioi/fixie/blob/master/README.md">docs (nightly)</a></li>
      </ul>
    </div>
    
    <div class="header four columns">
      <img src="images/fixie_256.png" width="200" height="200" />
      <p>Conventional Testing for .NET</p>
    </div>
    <div class="header twelve columns">
{% highlight csharp %}
Classes
    .NameEndsWith("Tests");

Methods
    .Where(method => method.IsVoid());

ClassExecution
    .CreateInstancePerCase()
    .UsingFactory(Container.GetInstance);

CaseExecution
    .Wrap<ResetDatabase>();

Parameters
    .Add<FromAutoFixture>();
{% endhighlight %}
    </div>
    <hr />
    {{ content }}
  </div>
</body>
</html>
