<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fixie</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{ "/stylesheets/base.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/stylesheets/skeleton.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/stylesheets/pygment_trac.css" | relative_url }}">
</head>
<body>
  <div class="container">

    <div class="sixteen columns">
      <div class="row">
        <div class="five columns alpha">
          <a href="http://fixie.github.io"><img src="{{ "/images/fixie_192.png" | relative_url }}" /></a>
        </div>
    
        <div class="eleven columns omega">
          <p id="title">Modern Testing for .NET</p>
          <ul id="navigation">
            <li><a href="https://github.com/fixie/fixie">GitHub</a></li>
            <li><a href="http://www.nuget.org/packages/fixie">NuGet</a></li>
            <li><a href="https://github.com/fixie/fixie/wiki">Documentation</a></li>
          </ul>
        </div>
      </div>
    </div>
    {{ content }}
  </div>
</body>
</html>
