<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Fixie</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{{ "/stylesheets/base.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/stylesheets/skeleton.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/stylesheets/pygment_trac.css" | relative_url }}">

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
  <div class="container">

    <div class="sixteen columns">
      <div class="row">
        <div class="five columns alpha">
          <a href="http://fixie.github.io"><img src="{{ "/images/fixie_192.png" | relative_url }}" /></a>
        </div>
    
        <div class="eleven columns omega">
          <p id="title">Conventional Testing for .NET</p>
          <ul id="badges">
            <li><a href="https://ci.appveyor.com/project/plioi/fixie/branch/master"><img src="https://ci.appveyor.com/api/projects/status/o5uuuqq6m61xudkw/branch/master?svg=true&pendingText=master%20-%20pending&passingText=master%20-%20passing&failingText=master%20-%20failing" alt="master"></a></li>
            <li><a href="https://ci.appveyor.com/project/plioi/fixie/branch/dev"><img src="https://ci.appveyor.com/api/projects/status/o5uuuqq6m61xudkw/branch/dev?svg=true&pendingText=dev%20-%20pending&passingText=dev%20-%20passing&failingText=dev%20-%20failing" alt="dev"></a></li>
            <li><a href="https://gitter.im/fixie/fixie?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge"><img src="https://badges.gitter.im/Join%20Chat.svg" alt="Join the chat at https://gitter.im/fixie/fixie"></a></li>
          </ul>
          <ul id="navigation">
            <li><a href="https://github.com/fixie/fixie">github</a></li>
            <li><a href="http://www.nuget.org/packages/fixie">nuget</a></li>
            <li>
              <div class="dropdown">
                <button>docs</button>
                <ul class="dropdown-menu">
                  <li><a href="{{ "/docs/1.0" | relative_url }}">1.0</a></li>
                  <li><a href="{{ "/docs/2.0" | relative_url }}">2.0</a></li>
                </ul>
              </div>
            </li>
            <li><a href="https://github.com/fixie/fixie.github.io/blob/master/{{ page.path }}" target="_blank">edit this page</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sixteen columns">
      {{ content }}
    </div>
  </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42021639-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
